{% extends 'Shop/base.html' %}
{% load static %}

{% block title %}
Register
{% endblock title %}

{% block hero %}
<!-- Font Icon -->
<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
<link href="{% static 'css/register.css' %}" rel="stylesheet" />
{% endblock hero %}

{% block main %}
<div class="main" style="background-color: darkgrey; padding: 20px; padding-bottom: 30px;">
    <div class="text-center">
        <div class="hover-a">
            <a class="text-decoration-none hover-content" href="" style="font-size: 30px; font-weight: 500; color: black;">AShop Registration form</a>
        </div>
        <hr class="border-4 mx-auto" style="width: 135px; border: 3px solid red;">
        <p class="">Please register in order to checkout more quickly</p>
    </div>
    <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
            <div class="signup-content">
                <form action="" method="POST" id="signup-form" class="signup-form" novalidate>
                    {% csrf_token %}

                    {% if messages %}
                    {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</p>
                    {% endfor %}
                    {% endif %}

                    {% for form in regi_form %}
                    <div>
                        {{ form.label_tag }} {{ form }} <small class="text-danger">{{ form.errors | striptags }}</small> <br> <br>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
                    </div>
                </form>
                <p class="loginhere">
                    Have already an account ? <a href="{% url 'login' %}" class="loginhere-link anchor-text">Login here</a>
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock main %}


{% block scripthero %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripthero %}


